In [ ]:
# Python Frist code
print("Welcome to EKTA Session")

Welcome to EKTA Session

# **Python Print Statement**

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
print("My Self Ekta jain!")

My Self Ekta jain!

In [ ]:
print(234)

234

In [ ]:
print("123")

123

# **Python comments**

In [ ]:
# This is an Comment
print("Hello World!")

Hello World!

In [ ]:
a1=32
a2=40
# age of person 1
# age of person 2

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

# **Multiline Comments**

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# **Python Variables**

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# **Casting**

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

# **Get the Type**

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# **Single or Double Quotes?**

In [ ]:
x = "John"
# is the same as
x = 'John'
print(x)

John

# **Case-Sensitive**

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

## **Python - Variable Names**

In [ ]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

# **Python Numbers**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# **Int**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# **Float**

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# **Complex**

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Python Strings**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

# **Assign String to a Variable**

In [ ]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# **Strings are Arrays**

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
this_string="My self Riya"
print(this_string[8])

R

# **Looping Through a String**

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# **String Length**

In [ ]:
a = "Hello, World!"
print(len(a))

13

# **Python - Slicing Strings**

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

# **Slice From the Start**

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

# **Slice To the End**

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

# **Negative Indexing**

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

# **String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# **Python Lists**

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
a=["apple,banana, grapes,fig"]
print(a)

['apple,banana, grapes,fig']

In [ ]:
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#To determine how many items a list has, use the len() function:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1,type(list1))
print(list2,type(list2))
print(list3,type(list3))

['apple', 'banana', 'cherry'] <class 'list'>
[1, 5, 7, 9, 3] <class 'list'>
[True, False, False] <class 'list'>

In [ ]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# **Python Tuples**

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#To determine how many items a tuple has, use the len() function:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# **Python Sets**

In [ ]:
myset = {"apple", "banana", "cherry"}

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

# **Python Dictionaries**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict={
    "course": "btech",
    "Duration": "4years",
    "department": "IT"
    }
print(thisdict)

{'course': 'btech', 'Duration': '4years', 'department': 'IT'}

In [ ]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# **Python If ... Else**

In [ ]:
#if statement
a=32
if (a%2==0):
  print("even")

even

In [ ]:
# if else statement
a=int(input("Enter the number:"))
if (a%2==0):
  print("Even")
else:
  print("Odd")

Enter the number:31
Odd

In [ ]:
#Elif statement
a=43
b=43
if b>a:
  print("b is grater than a")
elif a==b:
  print("a is equal to b")

a is equal to b

# **Python For Loops**

In [ ]:
#For loop
fruits= ['apple','banana', 'grapes','fig']
for i in fruits:
  print(i)

apple
banana
grapes
fig

In [ ]:
for i in range(3):
  print(i)

0
1
2

# **Python While Loops**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
print(i)

1
2
3
3

# **Basic Python Program**

In [ ]:
# Write a python progam to print "Hello World!"
print("Hello World!")

Hello World!

In [ ]:
# Write a python progam to do arthmetical operations Addition and Division
# Addition
num1=int(input("Enter the first number for addition:"))
num2=int(input("Enter the second number for addition:"))
result=num1+num2
print("sum is:", result)

Enter the first number for addition:27
Enter the second number for addition:32
sum is: 59

In [ ]:
# Division
num1=float(input("Enter the dividend  for division:"))
num2=float(input("Enter the divisor for division:"))
if num1==0:
  print("Error: Division by zero is not allowed")
else:
  div_result=num1/num2
  print("Division is:" , div_result)

Enter the dividend  for division:35.0
Enter the divisor for division:5
Division is: 7.0

In [ ]:
# Write a python progam to find the area of triangle
base=float(input("Enter the length of the base of the triangle:"))
height=float(input("Enter the height of the triangle:"))
area=0.5*base*height
print("The area of triangle is:",area)

Enter the length of the base of the triangle:3.5
Enter the height of the triangle:4.3
The area of triangle is: 7.5249999999999995

In [ ]:
# Write a python progam to swap two variables
a=int(input("Enter the first variable(a):"))
b=int(input("Enter the second variable(b):"))
print("Before swapping the two variables")
print("Original values:- a = ", a ,"b=",b)
temp=a
a=b
b=temp
print("After swapping two variables")
print("Swapped values:- a=",a,"b=",b)

Enter the first variable(a):21
Enter the second variable(b):12
Before swapping the two variables
Original values:- a =  21 b= 12
After swapping two variables
Swapped values:- a= 12 b= 21

In [ ]:
# Write a python progam to generate random number
import random
print("Random number :",random.randint(1,1000))

Random number : 584

In [ ]:
# Write a python progam to convert kilometers into miles
kilometer=float(input("Enter distance in kilometer :"))
conversion_factor=0.62137
miles=kilometer*conversion_factor
print(kilometer,"kilometer is equal to",miles,"miles")

Enter distance in kilometer :432
432.0 kilometer is equal to 268.43183999999997 miles

In [ ]:
# Write a python progam to convert Celsius into fahrenheit
celsius=float(input("Enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print(celsius,"degree is equal to",fahrenheit,"degree fahrenheit")

Enter temperature in celsius:32
32.0 degree is equal to 89.6 degree fahrenheit

In [ ]:
# Write a python progam to display calendar
import calendar
year = int(input("Enter year:"))
month = int(input("Enter month:"))


cal = calendar.month(year,month)
print(cal)

Enter year:2024
Enter month:january

ValueError: ignored