# **Program 1**

**Write a python program to check if a Number is Positive , Negative or zero**

In [ ]:
num=float(input("Enter the number:"))
if num>0:
  print("Positive Number")
elif num==0:
  print("Zero")
else:
  print("Negative Number")

# **Program 2**

**Write a python program to check if a Number is Odd or Even**

In [ ]:
num = int(input("Enter the number:"))

if num%2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter the number:57
Odd Number

# **Program 3**

**Write a Python program to check Leap year or Not**

In [ ]:
year = int(input("Enter the Year:"))

if (year % 400==0) and (year%100==0):
  print("Year is leap year")
elif (year%4==0) and (year%100!=0):
  print("Year is leap year")
else:
  print("Year is not a leap year")

Enter the Year:2024
Year is leap year

# **Program 4**

**write a python program to check prime number**

In [ ]:
num = int(input("Enter the number:"))

flag=False

if num==1:
  print(num, "is not a prime number")
elif num>1:
  for i in range(2,num):
    if (num % i) ==0:
      flag=True
      break

if flag:
  print(num, "is not a prime number")
else:
  print(num, "is prime number")

Enter the number:21
21 is not a prime number

# **Program 5**

**Write a python program to print all prime number in the interval of 1-10**

In [ ]:
lower=1
upper=10
print("Print prime number between",lower, "and",upper,"are :")
for num in range(lower,upper+1):
  if num>1:
     for i in range(2,num):
      if (num%i)==0:
        break
     else:
      print(num)

Print prime number between 1 and 10 are :
2
3
5
7

# **program 6**

**Write a python program to print the factorial of a number**

In [ ]:
num=int(input("Enter the number:"))
factorial=1
if num<0:
  print("Factorial does not exist for Negative numbers")
elif num==0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial*i
  print("The factorial of",num, "is",factorial)

Enter the number:5
The factorial of 5 is 120

# **Program 7**

**Write a python program to Display the multiplication Table**

In [ ]:
num=int(input("Enter the number :"))

for i in range(1,11):
  print(num," * ",i ,"=",num*i)

Enter the number :14
14  *  1 = 14
14  *  2 = 28
14  *  3 = 42
14  *  4 = 56
14  *  5 = 70
14  *  6 = 84
14  *  7 = 98
14  *  8 = 112
14  *  9 = 126
14  *  10 = 140

# **Program 8**

**Write a python program to print fibonacci sequence**

In [ ]:
nterms=int(input("How many terms:"))
n1,n2=0,1
count=0
if nterms<=0:
  print("Please enter a positive number")
elif nterms==1:
  print("Fibonacci sequence upto",nterms,":")
else:
  print("Fibonacci sequence:")
  while count<nterms:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count=count+1

How many terms:10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

# **Program 9**

**Write a python program to check Armstrong Number**

In [ ]:
num=int(input("Enter a number:"))
num_str=str(num)
num_digits=len(num_str)
sum_of_powers=0
temp_num=num
while temp_num >0:
  digits = temp_num%10
  sum_of_powers+= digits**num_digits
  temp_num //=10

if sum_of_powers ==num:
  print(num,"is a Armstrong Number")
else:
  print(num,"is not a Armstrong Number")

Enter a number:153
153 is a Armstrong Number

# **Program 10**

**write a python program to find the Sum of Natural number**

In [ ]:
limit=int(input("Enter the Limit:"))
sum=0

for i in range(1,limit+1):
  sum+=i

print("The sum of natural number upto", limit ,"is",sum)

Enter the Limit:10
The sum of natural number upto 10 is 55

# **Program 11**

**Write a pyton program to find LCM**

In [ ]:
def compute_lcm(x,y):
  if x>y:
    greater=x
  else:
    greater=y
  while(True):
    if ((greater % x==0) and (greater % y==0)):
      lcm=greater
      break
    greater+=1
  return lcm

num1=int(input("Enter the First Number:"))
num2=int(input("Enter the Second number:"))

print ("The LCM is",compute_lcm(num1,num2))

Enter the First Number:2
Enter the Second number:3
The LCM is 6

# **Program 12**

**Write a python program to find HCF**

In [ ]:
def compute_hcf(x,y):
  if x>y:
    smaller=y
  else:
    smaller=x
    for i in range(1, smaller+1):
      if ((x % i == 0) and ( y% i == 0)):
        hcf=i
    return hcf
num1=int(input("Enter the First number"))
num2=int (input("Enter the Second number"))

print("The hcf is",compute_hcf(num1,num2))

Enter the First number54
Enter the Second number24
The hcf is None

# **Program 13**

**Write a python program to Convert Decimal into Binary,
 Octal, Hexadecimal.**

In [ ]:
dec_num=int(input("Enter the  Decimal Number:"))
print("The decimal value of",dec_num,"is")
print(bin(dec_num),"in Binary.")
print(oct(dec_num),"in Octal.")
print(hex(dec_num),"in Hexadecimal.")

Enter the  Decimal Number:27
The decimal value of 27 is
0b11011 in Binary.
0o33 in Octal.
0x1b in Hexadecimal.

# **Program 14**

**Write a python program to find ASCII value of a character**

In [ ]:
char=str(input("Enter the Character"))
print("The ASCII value is",char,"is",ord(char))

Enter the Characterp
The ASCII value is p is 112

# **Program 15**

**Write a python program to Make a simple calculator with 4 basic mathematical operation**

In [ ]:
def add(x,y):
  return x+y

def subtract(x,y):
  return x-y

def multiply(x,y):
  return x*y

def divide(x,y):
  return x/y

print("select choice:")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

while True:
  choice=input("Enter Choice(1/2/3/4):")

  if choice in ("1","2","3","4"):
    try:
      num1=float(input("Enter first number :"))
      num2=float(input("Enter second number :"))
    except ValueError:
      print("Invalid input. Please enter a number:")
      continue


    if choice=="1":
      print(num1,"+",num2,"=",add(num1,num2))

    elif choice=="2":
      print(num1,"-",num2,"=",subtract(num1,num2))

    elif choice=="3":
      print(num1,"*",num2,"=",multiply(num1,num2))

    elif choice=="4":
      print(num1, "/", num2, "=", divide(num1,num2))

  else:
    print("Invalid Input")

select choice:
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter Choice(1/2/3/4):2
Enter first number :43
Enter second number :9
43.0 - 9.0 = 34.0
Enter Choice(1/2/3/4):4
Enter first number :45
Enter second number :7
45.0 / 7.0 = 6.428571428571429